body{
    background-color: #cecece;
    margin: 0px;
    padding: 0px;
   
}
h1{
    text-align: center;
    
}
section{
    width: 40%;
    padding: 10px;
    margin: 0 auto;
}
section input{
 display: flex;
 width: 93%;
 padding: 8px;
 border-radius: 5px;
 outline: none;
 margin-top: 5px;

}
section button{
    display: flex;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    outline: none;
    border: none;
    margin-top: 5px;
    background-color: darkblue;
    color: #fff;
    font-size: 18px;
    text-align: center;

    
    
}